.e38_455 { 
	color:rgb(201, 59, 59);
	width:86px;
	height:80px;
	position:absolute;
	left:45px;
	top:44px;
	font-family:Italianno;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e38_457 { 
	color:rgba(229.49999392032623, 206.55000060796738, 206.55000060796738, 1);
	width:588px;
	height:343px;
	position:absolute;
	left:2389px;
	top:339px;
	font-family:Open Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}

.e38_458 { 
	background-color:rgba(224.000001847744, 201.00000321865082, 195.0000035762787, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:1203px;
	top:24px;
}
.e38_459 { 
	background-color:rgba(224.000001847744, 201.00000321865082, 195.0000035762787, 1);
	width:104px;
	height:100px;
	position:absolute;
	left:1324px;
	top:24px;
}
.e38_460 { 
	color:rgba(152.0000061392784, 108.00000116229057, 74.0000031888485, 1);
	width:83px;
	height:19px;
	position:absolute;
	left:11px;
	top:31px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e38_461 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:13px;
	position:absolute;
	left:1210px;
	top:59px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e38_462 { 
	background-color:rgba(224.000001847744, 201.00000321865082, 195.0000035762787, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:1082px;
	top:24px;
}
.e38_463 { 
	color:rgba(24.43749949336052, 11.513821072876453, 1.5273437183350325, 1);
	width:91px;
	height:15px;
	position:absolute;
	left:5px;
	top:35px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e38_464 { 
	background-color:rgba(224.000001847744, 201.00000321865082, 195.0000035762787, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:982px;
	top:24px;
}
.e38_465 { 
	color:rgba(0, 0, 0, 1);
	width:91px;
	height:15px;
	position:absolute;
	left:5px;
	top:35px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e38_467 { 
	background-color:beige;
	width:1217px;
	height:211px;
	position:absolute;
	left:30px;
	top:148px;
}
.e38_469 {
    width: 140px; /* ширина контейнера */
    height: 140px; /* висота контейнера */
    position: absolute;
    left: 4%; /* вирівнювання по лівому краю */
    top: 50%; /* вирівнювання по середині вертикалі */
    transform: translateY(-50%); /* центрування вертикалі */
    background: url("../img/user_sign_icon_person_symbol_human_avatar_isolated_on_white_backogrund_vector_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.e38_470 {
    color: rgba(0, 0, 0, 1);
    width: 500px;
    height: 86px;
    position: absolute;
    left: 25%;
    top: 25%;
    font-family: Open Sans;
    text-align: left;
    font-size: 64px;
    letter-spacing: 0;
}
.e38_472 { 
	box-shadow:0px 4px 4px rgba(19, 116, 14, 0.25);
	background-color:beige;
	width:271px;
	height:163px;
	position:absolute;
	left:637px;
	top:24px;
}
.e38_473 { 
	color:rgb(62, 20, 152);
	width:180px;
	height:15px;
	position:absolute;
	left:46px;
	top:19px;
	font-family:Open Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e38_474 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:beige;
	width:271px;
	height:163px;
	position:absolute;
	left:929px;
	top:24px;
}
.e38_475 { 
	color:rgba(0, 0, 0, 1);
	width:180px;
	height:15px;
	position:absolute;
	left:46px;
	top:19px;
	font-family:Open Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}

.e38_476 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: beige;
    width: 1217px;
    height: 200px;
    position: absolute;
    left: 30px;
    top: 415px;
    display: flex; /* Додаємо flex-контейнер для використання flexbox */
    align-items: center; /* Вирівнюємо елементи по вертикалі */
}

.e38_477 {
    color: rgb(0, 0, 0);
    width: 621px;
    height: 348px;
    position: absolute;
    font-family: Open Sans;
	top: 25%; /* вирівнювання по середині вертикалі */
    text-align: left;
    font-size: 64px;
    letter-spacing: 0;
    margin-left: 20px; /* Змінюємо лівий відступ для вирівнювання тексту */
}

.e38_516 {
    color: rgb(48, 97, 111);
    /* width: 450px; */
    height: 40px;
    position: absolute;
	top: 25%; /* вирівнювання по середині вертикалі */
    right: 5%; /* Змінюємо правий відступ для вирівнювання кнопки */
    font-family: Open Sans;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0;
}
.e38_507 { 
	width:228px;
	height:98px;
	position:absolute;
	left:356px;
	top:163px;
	background-image:url(img/pngtree_five_star_rating_sign_png_image_5294765_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_510 { 
	width:46px;
	height:40px;
	position:absolute;
	left:662px;
	top:200px;
	background-image:url(img/wine_glass_icon_isolated_on_white_background_vector_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_511 { 
	width:47px;
	height:40px;
	position:absolute;
	left:708px;
	top:200px;
	background-image:url(img/wine_glass_icon_isolated_on_white_background_vector_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_513 { 
	width:47px;
	height:40px;
	position:absolute;
	left:800px;
	top:201px;
	background-image:url(img/wine_glass_icon_isolated_on_white_background_vector_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_514 { 
	width:46px;
	height:40px;
	position:absolute;
	left:836px;
	top:200px;
	background-image:url(img/wine_glass_icon_isolated_on_white_background_vector_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_512 { 
	width:46px;
	height:40px;
	position:absolute;
	left:754px;
	top:201px;
	background-image:url(img/wine_glass_icon_isolated_on_white_background_vector_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_466 { 
	color:rgba(0, 0, 0, 0.6700000166893005);
	width:1440px;
	height:82px;
	position:absolute;
	left:13px;
	top:66px;
	font-family:Open Sans;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.e38_5199{
	/* display: block; */
	color: rgb(48, 97, 111);
    /* width: 450px; */
    height: 30px;
    position: absolute;
	top: 60%; /* вирівнювання по середині вертикалі */
    right: 7%; /* Змінюємо правий відступ для вирівнювання кнопки */
    font-family: Open Sans;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0;
}
.actiond {
        position: absolute;
        top: calc(250px - 100%);
		font-size: 20px;
		top: 32%;
		right: 5%;

}
